 [Unit]
 Description=mjpeg-streamer
 After=syslog.target
 
 [Service]
 Type=simple
 WorkingDirectory=/home/pi/work/webiopi/mjpg-streamer/mjpg-streamer-experimental
 ExecStart=/home/pi/work/webiopi/mjpg-streamer/mjpg-streamer-experimental/start.sh
 TimeoutStopSec=5
 StandardOutput=null
 
 [Install]
 WantedBy = multi-user.target
